<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<title>ACME</title>
		<link rel="stylesheet" href="/static/css/acme.css">
	</head>
{% block body %}
	<body>
		<header></header>
		<div id="container">
<!--			{% for category in categories %}-->
<!--&lt;!&ndash;			<div class="category">{{category.product}}</div>&ndash;&gt;-->
<!--			<a href="/products/edit"> EDITER </a>-->
<!--&lt;!&ndash;				{% for product in category.product_set.all|dictsort:'name' %}&ndash;&gt;-->
<!--&lt;!&ndash;					<div class="blockProduct">&ndash;&gt;-->
<!--&lt;!&ndash;						<a href="/products/{{product.id}}">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="/static/img/product_{{product.id}}_big.jpg"/>&ndash;&gt;-->
<!--&lt;!&ndash;							<div class="name">{{ product.name }}</div>&ndash;&gt;-->
<!--&lt;!&ndash;						</a>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->
<!--&lt;!&ndash;				{% endfor %}&ndash;&gt;-->
<!--			{% endfor %}-->

		</div>
		<footer></footer>
	</body>
{% endblock %}
</html>
