<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<title>ACME</title>
		<link rel="stylesheet" href="/assets/css/acme.css">
	</head>

	<body>
		<header></header>
		<div id="container">
			<div class="category">
				<a href="/products">Produits</a>
				&gt; NOM_PRODUIT
			</div>
			<div id="detailProduct">
				<img src="/uploads/img/product_ID_big.jpg"/>
				<div>
					<div class="price">PRIX</div>
					<div class="category">catégorie<br/>
						NOM_CATEGORIE</div>
					<div class="ref">référence<br/>
						REFERENCE</div>
				</div>
			</div>
		</div>
		<footer></footer>
	</body>

</html>
